---
layout: layouts/home.njk
tags:
  - nav
navtitle: Home
---

<div class="logo-mark">
<img src="img/rriver-logo-mark-white.svg" alt="Rriver" />
</div>

<h1>渡辺 竜<br><span>（わたなべ りょう）</span></h1>
<p class="who-i-am">デザインする人</p>

<p>日米のウェブ制作会社でデザイナー、コーダー、プロジェクト・マネージャー、また、外資系組織でウェブ担当および広報ディレクターを経て、2019年よりフリーランスでバイリンガルのウェブ制作とコミュニケーション・デザインのアドバイスを中心とした活動を開始。</p>

<p>以下の業務を日・英バイリンガルで行なっています：</p>

<ul>
<li>広報・マーケティング目線でのウェブ・コンサルティング</li>
<li>ウェブサイトの企画・制作ディレクション、運用アドバイス</li>
<li>マルチデバイス向けのウェブデザインとコーディング（レスポンシブWebデザイン）</li>
<li>より効果的なコミュニケーション・デザイン</li>
<li>広告・印刷物・ビデオ制作など、付随するプロジェクトのお手伝い</li>
</ul>

<p>特に日・英バイリンガルのウェブサイト制作や英語でのコミュニケーションが必須なインターナショナルなチームでのプロジェクトで力を発揮します。アメリカ在住歴8年、英語がメインの国際的な組織でのウェブ担歴15年のコミュニケーション力を活かして、プロジェクトの円滑な進行とより効果的な遂行をお手伝いします。</p>

<p>お仕事の依頼・相談は<a href="https://twitter.com/rriver">TwitterのDM</a>でお気軽にお問い合わせください。</p>

<h2>ウェブ制作情報ブログ「Rriver」</h2>
<p>「明日のウェブ制作に役立つアイディア」をモットーに、日本のウェブ制作に貢献することを目標にウェブ制作関連の情報を発信しています。</p>

<ul>
<li><a href="https://parashuto.com/rriver/">Rriver &mdash; 明日のウェブ制作に役立つアイディア</a></li>
</ul>

<h2>執筆した書籍</h2>
<p>日本でマルチデバイスに対応するウェブ制作の手法であるレスポンシブWebデザイン（RWD）が広まる前に、所属組織のウェブサイトをRWDでリニューアル。その経験を活かして関連書籍を執筆しました。</p>

<ul>
<li><a href="http://rwd-book.info/">レスポンシブWebデザイン &mdash; 制作の実践的ワークフローとテクニック</a></li>
</ul>

<p class="copyright">Copyright &copy; 2019 ryo watanabe. All rights reserved.</p>

{#
<h1>Latest 3 Posts</h1>


{% set postslist = collections.posts | head(-3) %}
{% include "postslist.njk" %}

<p>More posts can be found in <a href="{{ '/posts/' | url }}">the archive</a>.</p>
#}